.monospaced, input {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
}
button {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}
body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  background-color: #0e1a2c;
  position: absolute;
  left: 50%;
  width: 640px;
  margin-left: -320px;
}
p, a {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  color:#e9eff8;
}
label {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  font-weight: bold;
  width: 40px;
  margin-right: 10px;
}
textarea {
  width: 560px;
  height: 70px;
}
.center, #canvas, button {
  margin: 0 auto;
  display: block;
}
.wrapper {
  position: relative;
}
#message {
  font-family: 'Courier New', Courier, monospace;
  font-size: 32px;
  position: absolute;
  margin-inline: auto;
  width: fit-content;
  left: 0;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
  top: calc(50% - 18px);
  -webkit-text-stroke: 1px;
  background-color: #0e1a2c88;
}
